* text=auto !eol
/AUTHORS -text
Creme/LICENSE -text
Creme/Makefile.am -text
Creme/Makefile.in -text
Creme/acinclude.m4 -text
Creme/aclocal.m4 -text
Creme/configure -text
Creme/configure.ac -text
Creme/creme-uninstalled.pc.in -text
Creme/creme.pc.in -text
Creme/data/format.txt -text
Creme/inc/config_creme.h.in -text
Creme/src/Base/LICENSE -text
Creme/src/Base/Makefile.am -text
Creme/src/Base/Makefile.in -text
Creme/src/Base/chooseblock.c -text
Creme/src/Base/chooseblock.h -text
Creme/src/Base/cmdline.c -text
Creme/src/Base/cmdline.h -text
Creme/src/Base/config.h.in -text
Creme/src/Base/config_creme.h.in -text
Creme/src/Base/init.c -text
Creme/src/Base/init.h -text
Creme/src/Base/isfeas.c -text
Creme/src/Base/isfeas.h -text
Creme/src/Base/linopt.c -text
Creme/src/Base/linopt.h -text
Creme/src/Base/locsrch.c -text
Creme/src/Base/locsrch.h -text
Creme/src/Base/lpio.c -text
Creme/src/Base/lpio.h -text
Creme/src/Base/main.c -text
Creme/src/Base/misc.c -text
Creme/src/Base/misc.h -text
Creme/src/Base/move.c -text
Creme/src/Base/move.h -text
Creme/src/Base/readbz.c -text
Creme/src/Base/rtr.c -text
Creme/src/Base/rtr.h -text
Creme/src/Base/sparse.h -text
Creme/src/Base/writeLP.c -text
Creme/src/Base/writeLp.c -text
Creme/src/Base/writelp.c -text
Creme/src/Base/writelp.h -text
Creme/src/LICENSE -text
Creme/test/Makefile.am -text
Creme/test/Makefile.in -text
Creme/test/data/horse-colic-151.bz2 -text
Creme/test/data/iris-150.bz2 -text
Creme/test/data/prob.5.110.100.0.bz2 -text
Creme/test/data/prob.5.110.100.1.bz2 -text
Creme/test/data/prob.5.110.100.2.bz2 -text
Creme/test/data/prob.5.110.100.3.bz2 -text
Creme/test/data/prob.5.110.100.4.bz2 -text
Creme/test/data/refinery.bz2 -text
Creme/test/data/water-treatment206.bz2 -text
Creme/test/grandTest.sh.in -text
/Dependencies -text
/Externals -text
/Externals.releases -text
/INSTALL -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
/acinclude.m4 -text
/aclocal.m4 -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/ltmain.sh -text
/missing -text
